discord==2.2.2
discord-pretty-help==2.0.7
discord.py==2.2.2
GitPython==3.1.31
mee6_py_api==0.0.1
numpy==1.24.2
pandas==1.5.3
python-dotenv==1.0.0
Random_Word==1.0.11
sqlitedict==2.1.0
tatsu==5.8.3
tatsu.py==1.0.4